<ion-header>
  <ion-toolbar>
      <ion-buttons>
          <div *ngIf="throughProduct=='false'">
              <ion-button (click) = "dismiss(undefined)">
              <ion-icon name = "close" ></ion-icon>
              </ion-button>
              </div>
        <div *ngIf= "mode=='update'&&throughProduct=='false'">
            <ion-title>Update UOM</ion-title>
        </div>
        <div *ngIf= "mode=='create'&&throughProduct=='false'">
          <ion-title>Create UOM</ion-title>
        </div>
      </ion-buttons>
      
  </ion-toolbar>
</ion-header>

  <div margin>
    <ion-card>
      <ion-item margin>
        <ion-label position = "floating">Unit</ion-label>
        <ion-input type="text" [(ngModel)]="uom.unit"></ion-input>
      </ion-item>
      <ion-item margin>
        <ion-label position = "floating">Description</ion-label>
        <ion-textarea [(ngModel)]="uom.description"></ion-textarea>
      </ion-item>
    </ion-card>
  </div>

<ion-footer>
    <div *ngIf= "mode=='update'">
      <ion-button margin expand="block" color="primary" (click)="updateUom()">Update</ion-button>
    </div>
    <div *ngIf= "mode=='create'">
    <ion-button margin expand="block" color="primary" (click)="createUom()">Create</ion-button>
    </div>
</ion-footer>
