<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" auto-hide="true"></ion-menu-button>
    <ion-title>uom</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="openNotificationModal()">
          <ion-icon class="icon" name="notifications"></ion-icon>
        </ion-button>
        <ion-badge *ngIf="notificationCount != 0" id="notifications-badge" color="danger">{{notificationCount}}</ion-badge>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-list>
    <app-uom-card *ngFor="let uom of uoms" [uom]="uom" 
     (updateEvent)="onUpdateUOM($event)" (deleteEvent)="onRemoveUOM(uom)"></app-uom-card>
  </ion-list>
</ion-content>

<app-add (uomAdd)="onAddUOM($event)"></app-add>
