<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <div *ngIf="throughProduct=='false'">
        <ion-button (click)="dismiss()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </div>
      <div *ngIf="mode=='update'">
        <ion-title>Update Category</ion-title>
      </div>
      <div *ngIf="mode=='create'">
        <ion-title>Create Category</ion-title>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div margin>
  <ion-card>
    <ion-item text-center *ngIf="categoryDTO.image == undefined">
        <ion-label>
      <ion-img (click)="selectImage()" src="assets/images/camera.png"></ion-img>
    </ion-label>
    </ion-item>
    <ion-item text-center  *ngIf="categoryDTO.image != undefined">
      <ion-label>
      <img (click)="selectImage()" [src]="'data:' + categoryDTO.imageContentType + ';base64,' + categoryDTO.image"/>
    </ion-label>
    </ion-item>
    <ion-item margin>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="categoryDTO.name"></ion-input>
    </ion-item>
    <ion-item margin>
      <ion-label position="floating">Descriptin</ion-label>
      <ion-textarea [(ngModel)]="categoryDTO.description"></ion-textarea>
    </ion-item>
  </ion-card>
</div>

<ion-footer>
  <div *ngIf="mode=='update'">
    <ion-button margin expand="block" color="primary" (click)="updateCategory()">Update</ion-button>
  </div>
  <div *ngIf="mode=='create'">
    <ion-button margin expand="block" color="primary" (click)="addCategory()">Create</ion-button>
  </div>
</ion-footer>