<ion-header *ngIf="throughProduct=='false'">
  <ion-toolbar>
    <ion-buttons>
      <div *ngIf="throughProduct=='false'">
        <ion-button (click)="dismiss()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </div>
      <div *ngIf="mode=='update'&&throughProduct=='false'">
        <ion-title>Update Category</ion-title>
      </div>
      <div *ngIf="mode=='create'&&throughProduct=='false'">
        <ion-title>Create Category</ion-title>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="scroll">
  
<ion-text>{{categoryDTO.image && !categoryDTO.imageLink}}</ion-text>
  <ion-card>
    <ion-item text-center *ngIf="!categoryDTO.image && !categoryDTO.imageLink">
        <ion-label>
      <ion-img *ngIf="mode=='update'&&throughProduct=='false'" (click)="selectImage()" [src]=categoryDTO.imageLink ></ion-img>
      <ion-img *ngIf="mode=='create'" (click)="selectImage()" src="assets/images/camera.png"></ion-img>

      <ion-text color="danger" class="text-size">*</ion-text>
    </ion-label>
 
    </ion-item>
    <ion-item text-center  *ngIf="categoryDTO.image && !categoryDTO.imageLink">
      <ion-label>
      <img (click)="selectImage()" [src]="'data:' + categoryDTO.imageContentType + ';base64,' + categoryDTO.image"/>
    </ion-label>
    </ion-item>
    <ion-item text-center  *ngIf="categoryDTO.imageLink">
      <ion-label>
        <ion-img *ngIf="categoryDTO.imageLink"  class="image hide-overflow"
        [src]=categoryDTO.imageLink>
      </ion-img>    </ion-label>
    </ion-item>
    <ion-item margin>
      <ion-label position="floating">Name<ion-text color="danger" class="text-size">*</ion-text></ion-label>
      <ion-input type="text" [(ngModel)]="categoryDTO.name"></ion-input>
    </ion-item>
    <ion-item margin>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea [(ngModel)]="categoryDTO.description"></ion-textarea>
    </ion-item>
  </ion-card>
</div>

<ion-footer>
  <div *ngIf="mode=='update'">
    <ion-button [disabled]="(categoryDTO.image == null && categoryDTO.imageLink == null) || categoryDTO.name == null || categoryDTO.name == ''" margin expand="block" color="primary" (click)="updateCategory()">Update</ion-button>
  </div>
  <div *ngIf="mode=='create'">
    <ion-button [disabled]="(categoryDTO.image == null && categoryDTO.imageLink == null) || categoryDTO.name == null || categoryDTO.name == ''" margin expand="block" color="primary" (click)="addCategory()">Create</ion-button>
  </div>
</ion-footer>