<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <ion-title>Delivery Info</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-no-padding">
    <ion-card-header class="ion-no-padding">
      <ion-item lines="none">
        <ion-text slot="start" >
            Subtotal
        </ion-text>
        <ion-text slot="start" slot="end" class="ion-text-right">
            &#8364;{{ order.subTotal |  number: "1.1-2"}}
        </ion-text>
      </ion-item>
      <ion-item lines="none" *ngIf="order.methodOfOrder ==='DELIVERY'">
          <ion-text slot="start" >
              Delivery
          </ion-text>
          <ion-text slot="start" slot="end" class="ion-text-right">
              &#8364;{{order.deliveryCharge |  number: "1.1-2"}}
          </ion-text>
        </ion-item>  
        <ion-item lines="none" *ngIf="order.methodOfOrder ==='COLLECTION'">
            <ion-text slot="start" >
                Collection
            </ion-text>
            <ion-text slot="start" slot="end" class="ion-text-right">
                &#8364; 0
            </ion-text>
        </ion-item>
        <ion-item lines="none" *ngIf="discount !== 0">
          <ion-text slot="start" >
              Discount
          </ion-text>
          <ion-text slot="start" slot="end" class="ion-text-right">
              -&#8364;{{discount |  number: "1.1-2"}}
          </ion-text>
        </ion-item> 

    </ion-card-header>
    <ion-card-content class="ion-no-padding">
        <ion-item lines="none">
            <ion-text slot="start" >
                <b>Total</b>
            </ion-text>
            <ion-text slot="start" slot="end" class="ion-text-right">
              <b>&#8364;{{order.totalDue |  number: "1.1-2"}}</b>
            </ion-text>
          </ion-item>    
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-text slot="start" >
          Payment mode
      </ion-text>
      <ion-text slot="start" slot="end" class="ion-text-right">{{ order.paymentStatus}}</ion-text>
    </ion-item>

    <ion-item lines="none">
      <ion-text slot="start" >
          Delivery type
      </ion-text>
      <ion-text slot="start" slot="end" class="ion-text-right">{{ order.methodOfOrder}}</ion-text>
    </ion-item>
  </ion-card>



  <ion-card>
      <ion-card-header color="primary">
        <ion-card-title>
          <h1>Address</h1>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-no-padding pd-10">
        <ion-item lines="none">
          <ion-label>
            <address>
              <span *ngIf="order.addressType">
                ({{ order.addressType | titlecase}}),
              </span>
              <span>{{ order.customerName | titlecase }},</span>
              <span>
                {{ order.houseNoOrBuildingName }},
              </span>
            </address>

            <address>
              <span>{{ order.city }},</span>
              <span>{{ order.landmark }},</span>
              <span *ngIf="order.pincode">
                {{ order.pincode}},
              </span>
            </address>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="order.notes !== null ">
        <ion-card-header color="primary">
          <ion-card-title>
            <h1>Note</h1>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-no-padding pd-10">
          <ion-item lines="none">
              <p><b>{{order.notes | titlecase}}</b></p>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="order.allergyNote !== null">
        <ion-card-header color="primary">
          <ion-card-title>
            <h1>Allergy Note</h1>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-no-padding pd-10">
          <ion-item lines="none">
              <p><b>{{order.allergyNote}}</b></p>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card >
        <ion-card-header color="primary">
          <ion-card-title>
            <h1>Products</h1>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-no-padding pd-10">
            <app-order-product-card *ngFor="let orderLine of order.orderLines" [orderLine]="orderLine" ></app-order-product-card>
        </ion-card-content>
      </ion-card>

</ion-content>