<ion-header>
  <ion-toolbar>

    <ion-buttons>
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
      <ion-title>Delivery Info</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card padding-bottom>
      <ion-item>
        <ion-text>
          <p>Customer Id</p>
          {{order.customerId}}
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-text>
          <p>Order Id</p>
          {{order.orderId}}
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-text>
          <p>Date</p>
          {{order.date | date:'short'}}
        </ion-text>
      </ion-item>
      <ion-item *ngIf="order.deliveryInfo != null">
        <ion-text>
          <p>Address</p>
          {{order.deliveryInfo.deliveryAddress.name+  ', ' +order.deliveryInfo.deliveryAddress.houseNoOrBuildingName+  ', ' +order.deliveryInfo.deliveryAddress.cityOrTown}}
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-text>
          <p>Grand Total</p>
          {{order.grandTotal | number:'1.1-2'}}
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-text>
          <p>Serving recommendations</p>
          Add Less Spice
        </ion-text>
      </ion-item>
    </ion-card>
</ion-content>
<app-product-card *ngFor="let product of products" [product]="product"></app-product-card>