<ion-card>
  <div (click) = "presentActionSheet()" class="blank-content">
    <ion-icon slot="icon-only" name="more" class="rotate void-button pointer" float-right></ion-icon>
  </div>
  <ion-img (click)="viewCategoryModal()" [src]=category.imageLink class="imageShow"></ion-img>
  <!-- <ion-img src="assets/images/burger.jpeg" class="imageShow"></ion-img> -->
  <div class="overlay" text-center>
    <ion-text class="stock-name" (click)="viewCategoryModal()">{{category.name}}</ion-text>
    <!-- <ion-text class="stock-name">Category name</ion-text> -->
  </div>
</ion-card>