<ion-header>
  <ion-toolbar>
    <ion-buttons>
        <ion-button (click)="dismiss()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      <ion-title>
      Notifications
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
        <!-- <ion-list>
          <ion-card *ngFor="let notification of notifications">
            <ion-card-header (click)="onClick(notification)">
                <ion-item >
                    <ion-text *ngIf="notification.status=='unread'">
                      <p><strong>{{notification.title}}</strong></p>
                      <p>{{notification.date | date:'d/M/yy'}}</p>
                      <p>{{notification.date | date:'shortTime'}}</p>
                    </ion-text>
                    <ion-text  *ngIf="notification.status=='read'">
                        <p class = "read"><strong>{{notification.title}}</strong></p>
                        <p class = "read">{{notification.date | date:'d/M/yy'}}</p>
                        <p class = "read">{{notification.date | date:'shortTime'}}</p>
                      </ion-text>
                    
                  </ion-item>
            </ion-card-header>
            <ion-card-content *ngIf="show==true && notification == clickedNotification">
              <ion-item>
                  <ion-text><p>#{{notification.targetId}}</p>
                    <p>{{notification.message}}</p></ion-text>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-list> -->

        <ion-list *ngFor="let n of notifications">
          <ion-item >
          <in-grid (click)="viewOrderViewModal(n)" class="ion-padding">
            <ion-row>
              <ion-text><strong>{{n.title}}</strong></ion-text>&nbsp;&nbsp;
              <img *ngIf="n.status == 'unread'"  class="img-size" src="../../../assets/svg/dot.png">
            </ion-row>
            <ion-row >
            <ion-badge color="success">{{n.targetId}}</ion-badge>
            </ion-row>
            <ion-row>
            <ion-text>{{n.message}}</ion-text>
            </ion-row>
            <ion-row>
            <ion-text>{{n.date | date:'dd/MM/yyyy'}}   {{n.date | date: 'HH:mm a'}}</ion-text>
            </ion-row>
          </in-grid>
          </ion-item>
          <div class="bg"></div>
        </ion-list>
</ion-content>