<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" auto-hide="true"></ion-menu-button>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>

  <ion-card>
    <ion-grid>
      <ion-row class="ion-align-items-center" *ngIf="store" >
        <ion-col size-sm="4" size="5" size-lg="3" size-md="4">
            <img [src]="'data:' + store.imageContentType + ';base64,' + store.image" class="store-image">
        </ion-col>
        <ion-col size="6">
          <ion-card-title>
            {{store.name | uppercase}}
          </ion-card-title>
          <span *ngFor="let cuisine of store.storeTypes">
              <ion-badge color="dark" margin-right>
                <ion-text>
                  {{cuisine.name}}
                </ion-text>
              </ion-badge>
            </span>
          <ion-card-subtitle class="wrap-whitespace">
            <ion-icon name="pin" color="medium"></ion-icon>
            {{store.locationName}}
          </ion-card-subtitle>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center" *ngIf="!store" >
          <ion-col size-sm="4" size="5" size-lg="3" size-md="4">
             <ion-thumbnail>
               <ion-skeleton-text animated></ion-skeleton-text>
             </ion-thumbnail>
          </ion-col>
          <ion-col size="6">
            <ion-card-title>
               <ion-skeleton-text animated></ion-skeleton-text>
               <ion-skeleton-text animated></ion-skeleton-text>
            </ion-card-title>
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-card-subtitle class="wrap-whitespace">
              <ion-skeleton-text animated></ion-skeleton-text>              
            </ion-card-subtitle>
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-col>
        </ion-row>
    </ion-grid>
  </ion-card>

  <ion-list no-padding no-margin>
    <app-settings-option class="pointer" *ngFor="let option of options" [option]="option" [routerLink]="option.route"></app-settings-option>
  </ion-list>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>