<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="pending">
      <ion-label>Pending</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="confirmed">
      <ion-label>Confirmed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="completed">
      <ion-label>Completed</ion-label>
    </ion-tab-button>

      <!-- <ion-button fill="none">
        <ion-icon slot="icon-only" name="funnel"></ion-icon>
        <ion-select class="ion-no-padding ion-no-margin" okText="Okay" (ionChange)="filter($event)" cancelText="Dismiss">
          <ion-select-option value="all">All</ion-select-option>
          <ion-select-option value="delivery">Delivery</ion-select-option>
          <ion-select-option value="collection">Collection</ion-select-option>
        </ion-select>
      </ion-button> -->

  </ion-tab-bar>
</ion-tabs>