<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <div *ngIf="value=='none'">
        <ion-button (click)="dismiss()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </div>
      <div *ngIf="value=='category'||value=='uom'">
        <ion-button (click)="slide('none')">
          <ion-icon name="arrow-round-back"></ion-icon>
        </ion-button>
      </div>
      <div *ngIf="mode=='update'&&value=='none'">
        <ion-title>Update Product</ion-title>
      </div>
      <div *ngIf="mode=='create'&&value=='none'">
        <ion-title>Create Product</ion-title>
      </div>
      <div *ngIf="value=='category'">
        <ion-title>Create Category</ion-title>
      </div>
      <div *ngIf="value=='uom'">
        <ion-title>Create UOM</ion-title>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content #content>
  <ion-slides #slides class="swiper-no-swiping">
    <ion-slide>
      <div>
        <div>
          <ion-card no-padding>
            <ion-card-content no-padding>
                <ion-item text-center *ngIf="!productDTO.image && !productDTO.imageLink">
                  <ion-label>
                    
                <ion-img  *ngIf="mode=='update'&&value=='none'" (click)="selectImage()" [src]=productDTO.imageLink></ion-img>
                <ion-img  *ngIf="mode=='create'&&value=='none'" (click)="selectImage()" src="assets/images/camera.png"></ion-img>
                <ion-text color="danger" class="text-size">*</ion-text>
              </ion-label>
             
              </ion-item>
              <ion-item text-center *ngIf="productDTO.image">
                <img (click)="selectImage()"
                  [src]="'data:' + imageContentType + ';base64,' + productDTO.image" />
              </ion-item>
              <ion-item text-center *ngIf="!productDTO.image && productDTO.imageLink">
                <img (click)="selectImage()"
                  [src]=productDTO.imageLink />
              </ion-item>
            
              <ion-item>
                <ion-label position="floating">Name <ion-text color="danger" class="text-size">*</ion-text></ion-label>
                <ion-input type="text" [(ngModel)]="productDTO.name"></ion-input>
              </ion-item>
              <ion-item >
                <ion-textarea rows="4" cols="40" type="text" placeholder="Description" [(ngModel)]="productDTO.reference"></ion-textarea>
              </ion-item>
              <!-- <ion-item>
            <ion-label position="end">Barcode</ion-label>
            <ion-button  fill="none">
                <ion-icon name="barcode" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-item> -->
              <ion-grid no-padding no-margin>
                <ion-row *ngIf="productDTO.isAuxilaryItem==false" no-padding no-margin>
                  <ion-item no-padding no-margin class="full-width">
                    <ion-col size="10" no-padding no-margin>
                      <ion-item  lines="none">
                        <ion-label position="floating">Category <ion-text color="danger">*</ion-text></ion-label>
                        <ion-select value="{{productbundle.product.category.id}}" [(ngModel)]="productDTO.categoryId">
                          <ion-select-option *ngFor="let category of categories" value="{{category.id}}" required>
                            {{category.name}}
                          </ion-select-option>
                        </ion-select>
                      </ion-item>
                    </ion-col>
                    <ion-col size="4" no-padding no-margin>
                      <ion-buttons text-center>
                        <ion-button (click)="slide('category')">
                          <ion-icon name="add" slot="icon-only"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                    </ion-col>
                  </ion-item>
                </ion-row>
              </ion-grid>
              <ion-item margin *ngIf="productDTO.isAuxilaryItem==true">
                <ion-icon padding class="icon-size" name="information-circle-outline"></ion-icon>
                <ion-text>Auxilary item can't be added to category</ion-text>
              </ion-item>
              <!-- <ion-item>
                <ion-text slot="start" >Tax Category</ion-text>
                <ion-select slot="start">
                  <ion-select-option></ion-select-option>
                </ion-select>
                <ion-icon slot="end" name="add"></ion-icon>
            </ion-item> -->
              <ion-grid no-padding no-margin padding-bottom>
                <ion-row no-padding no-margin>
                  <ion-item class="full-width" no-padding no-margin>
                    <ion-col size="10" no-padding no-margin>
                      <ion-item lines="none">
                        <ion-label position="floating">Unit</ion-label>
                        <ion-select [(ngModel)]="productDTO.unitId">
                          <ion-select-option *ngFor="let uom of uoms" value="{{uom.id}}" required>{{uom.unit}}
                          </ion-select-option>
                        </ion-select>
                      </ion-item>
                      </ion-col>
                    <ion-col size="2">
                      <ion-buttons>
                        <ion-button (click)="slide('uom')">
                          <ion-icon name="add" slot="icon-only"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                    </ion-col>
                  </ion-item>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-item>
              <ion-label position="floating">Sell Price <ion-text color="danger" class="text-size">*</ion-text></ion-label>
              <ion-input type="number" [(ngModel)]="productDTO.sellingPrice"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Buy Price</ion-label>
              <ion-input type="number" [(ngModel)]="productDTO.buyPrice"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Discount</ion-label>
              <ion-input type="number" [(ngModel)]="discount.rate"></ion-input>
            </ion-item>
          </ion-card>
          <ion-card>
            <ion-item>
              <span slot="start">
                <ion-label slot="start">Is Extra</ion-label>
              </span>
              <span slot="end">
                <ion-checkbox slot="end" [(ngModel)]="productDTO.isAuxilaryItem"></ion-checkbox>
              </span>

            </ion-item>
            <ion-item *ngIf="productDTO.isAuxilaryItem==false">
              <span slot="start">
                <ion-label position="floating">Add Extras</ion-label>
              </span>
              <span slot="end">
                <!-- <ion-select multiple [(ngModel)]="auxilaryItem.productId">
                        <ion-select-option *ngFor="let auxilary of auxilaryProduct"  value="{{auxilary.id}}" required>
                          {{auxilary.name}}
                        </ion-select-option>
                      </ion-select> -->
              </span>
              <span slot="end">
                <ion-icon name="add" (click)="showAux()"></ion-icon>
              </span>

            </ion-item>
            <ion-item *ngIf="aux==true">
              <ion-card class="scroll">
                <ion-list>
                  <ion-item lines="none" *ngFor="let data of auxilaryProduct; let i = index">
                    <ion-label>{{data.name}}</ion-label>
                    <ion-checkbox slot="end" [checked]="checkAuxArray[i]"
                      (ionChange)="selectedAuxilaryItem(data,$event)"></ion-checkbox>
                  </ion-item>
                </ion-list>
              </ion-card>
            </ion-item>
            <ion-item *ngIf="productDTO.isAuxilaryItem==false">
              <span slot="start">
                <ion-label position="floating">Add Combo Items</ion-label>
              </span>
              <span slot="end">
                <ion-icon name="add" (click)="showCombo()"></ion-icon>
              </span>

            </ion-item>
            <ion-item *ngIf="combo==true">

              <ion-card class="scroll">
                <ion-list>
                  <ion-item lines="none" *ngFor="let data of nonAuxNonComboProducts; let i = index">
                    <ion-label>{{data.name}}</ion-label>
                    <ion-checkbox slot="end" [checked]="checkComboArray[i]"
                      (ionChange)="selectedComboItem(data,$event)"></ion-checkbox>
                  </ion-item>
                </ion-list>
              </ion-card>

            </ion-item>
            <!-- <ion-item>
              <ion-label position="floating">Service Item</ion-label>
              <ion-checkbox slot="end" [(ngModel)]="productDTO.isServiceItem"></ion-checkbox>
            </ion-item>  -->
            <ion-card>
              <ion-item>
                <ion-label slot="start">Active</ion-label>
                <ion-toggle slot="start" [(ngModel)]="productDTO.isActive"></ion-toggle>
                <ion-text slot="start">Show in App</ion-text>
                <ion-toggle slot="end" [(ngModel)]="productDTO.showInCatalogue"></ion-toggle>
              </ion-item>
            </ion-card>
          </ion-card>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <app-create-edit-category (added)="addSelectedCategory($event)" (onSlide)="slide('none')" [throughProduct]='true'></app-create-edit-category>
    </ion-slide>
    <ion-slide>
      <app-create-edit-uom (onSlide)="slide('none')" [throughProduct]='true'></app-create-edit-uom>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer *ngIf="value!='category'&&value!='uom'">
  <div *ngIf="mode=='update' && productDTO.isAuxilaryItem==false">
    <ion-button [disabled]="createDisabled()" margin expand="block" color="primary" (click)="updateProduct()">Update
    </ion-button>
  </div>
  <div *ngIf="mode=='update' && productDTO.isAuxilaryItem==true">
    <ion-button [disabled]="createAuxilaryDisabled()" margin expand="block" color="primary" (click)="updateProduct()">
      Update</ion-button>
  </div>
  <div *ngIf="mode=='create' && productDTO.isAuxilaryItem==false">
    <ion-button [disabled]="createDisabled()" margin expand="block" color="primary" (click)="createProduct()">Create
    </ion-button>
  </div>
  <div *ngIf="mode=='create' && productDTO.isAuxilaryItem==true">
    <ion-button [disabled]="createAuxilaryDisabled()" margin expand="block" color="primary" (click)="createProduct()">
      Create</ion-button>
  </div>
</ion-footer>