<ion-card>
  <div class="overlay">
    <ion-buttons float-right>
      <ion-action-sheet-controller margin> </ion-action-sheet-controller>
      
      <ion-button fill="none" (click) = "presentActionSheet()">
        <ion-icon slot="icon-only" name="more" color="light"></ion-icon>
        
      </ion-button>
    </ion-buttons>
  </div>
  <ion-img src="assets/images/burger.jpeg" class="imageShow"></ion-img>
  <ion-card-content no-padding class="description">
    <ion-grid>
      <ion-row>
        <ion-col size="12" text-start>
          <ion-text class="stock-name">Product name</ion-text>
          <ion-text text-start class="display-list"><strong>&#8364; 12</strong></ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>