<ion-card>
  <div class="overlay">
    <ion-buttons float-right>
      <!-- <ion-action-sheet-controller margin> </ion-action-sheet-controller> -->
      
      <ion-button fill="none" (click) = "presentActionSheet()">
        <ion-icon slot="icon-only" name="more" color="light"></ion-icon>
        
      </ion-button>
    </ion-buttons>
  </div>
  <ion-img [src]="'data:' + product.imageContentType + ';base64,' + product.image" class="imageShow"></ion-img>
  <ion-card-content no-padding class="description">
    <ion-grid>
      <ion-row>
        <ion-col size="12" text-start>
          <ion-text class="stock-name">{{product.name}}</ion-text>
          <ion-text text-start class="display-list"><strong>&#8364; {{product.sellingPrice}}</strong></ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>