<ion-card *ngIf="type==='full'">
  <div class="overlay">
    <ion-buttons float-right>
      <!-- <ion-action-sheet-controller margin> </ion-action-sheet-controller> -->
      
      <ion-button fill="none" (click) = "presentActionSheet()">
        <ion-icon slot="icon-only" name="more" color="light"></ion-icon>
        
      </ion-button>
    </ion-buttons>
  </div>
  <ion-img (click)="viewProductModal()" [src]=product.imageLink class="imageShow"></ion-img>
  <ion-card-content no-padding class="description">
    <ion-grid>
      <ion-row>
        <ion-col size="12" text-start>
          <ion-text class="stock-name" (click)="viewProductModal()" >{{product.name}}</ion-text>
          <ion-text><br><strong>&euro;{{product.sellingPrice}}</strong></ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<ion-item  *ngIf="product !== undefined && type === 'minimal'">
  <ion-thumbnail class="img-small">
      <ion-img
        [src]="
          'data:' +
          product.imageContentType +
          ';base64,' +
          product.image
        "
        class="imageShow"
      >
      </ion-img>
    </ion-thumbnail>
</ion-item>