<ion-header>
  <ion-toolbar>
    <ion-title>Edit Restaurant</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="updateStoreBundle()" >SAVE</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="storeBundleDTO" class="ion-justify-content-center">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="8" class="vertical-align-center hide-overflow">
        <ion-img *ngIf="storeBundleDTO.store.image"  class="image hide-overflow"
          [src]="'data:' + storeBundleDTO.store.imageContentType + ';base64,' + storeBundleDTO.store.image">
        </ion-img>
        <ion-img *ngIf="!storeBundleDTO.store.image" class="image hide-overflow"
          src="assets/images/placeholder.png">
        </ion-img>
        <ion-text color="danger" class="text-size">
          *
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="vertical-align-center move-up">
        <ion-fab-button color="light" class="ion-margin-bottom" (click)="uploadImage()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top">
      <ion-col class="vertical-align-center move-up">
        <ion-text class="info-text duration animated" *ngIf="storeBundleDTO.store.info"  [ngClass]="!editInfo?'slideInRight':'hidden'" >{{storeBundleDTO.store.info}}</ion-text>
        <ion-text class="info-text duration animated" *ngIf="!storeBundleDTO.store.info"  [ngClass]="!editInfo?'slideInRight':'hidden'" >info</ion-text>
        <ion-item color="transparent" [ngClass]="editInfo?'slideInRight':'hidden'" class="width-75 animated duration">
          <ion-input text-center #info (ionBlur)="toggleEdit()" [(ngModel)]="storeBundleDTO.store.info"></ion-input>
        </ion-item>
        <ion-icon [ngClass]="!editInfo?'slideInRight':'hidden'" name="create" class="pointer duration animated" (click)="toggleEdit()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- General -->
  <form [formGroup]="storeForm">
  <ion-card class="ion-padding-top ion-padding-bottom">
    <ion-label position="fixed" class="ion-padding-start">
      <ion-icon name="settings"></ion-icon>
      General
    </ion-label>
      <ion-item>
        <ion-label position="floating">Name <ion-text color="danger" class="text-size">*</ion-text></ion-label>
        <ion-input (ionChange)="disableSave()" formControlName="name"></ion-input>
      </ion-item>
      <ion-text  class="err-size ion-margin-start" color="danger" *ngIf="storeForm.get('name').invalid && showError">Invalid Name</ion-text>
    <ion-item>
      <ion-label position="floating">Email <ion-text color="danger" class="text-size">*</ion-text></ion-label>
      <ion-input (ionChange)="disableSave()" formControlName="email"></ion-input>
    </ion-item>
    <ion-text  class="err-size ion-margin-start" color="danger" *ngIf="storeForm.get('email').invalid && showError">Invalid Email</ion-text>
    <ion-item>
      <ion-label position="floating">Contact <ion-text color="danger" class="text-size">*</ion-text></ion-label>
      <ion-input (ionChange)="disableSave()" formControlName="contact"></ion-input>
    </ion-item>
    <ion-text  class="err-size ion-margin-start" color="danger" *ngIf="storeForm.get('contact').invalid && showError">Invalid Contact Number</ion-text>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Open <ion-text color="danger" class="text-size">*</ion-text></ion-label>
            <ion-datetime displayFormat="h:mm a" formControlName="openingTime"></ion-datetime>
          </ion-item>
          <ion-text  class="err-size ion-margin-start" color="danger" *ngIf="storeForm.get('openingTime').invalid && showError">Invalid Opening Time</ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Closing <ion-text color="danger" class="text-size">*</ion-text></ion-label>
            <ion-datetime displayFormat="h:mm a" (ionChange)="disableSave()" formControlName="closingTime"></ion-datetime>
          </ion-item>
          <ion-text  class="err-size ion-margin-start" color="danger" *ngIf="storeForm.get('closingTime').invalid && showError">Invalid Closing Time</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- address -->
    <ion-item class="ion-margin-bottom">
      <ion-label>Address <ion-text color="danger" class="text-size">*</ion-text></ion-label>
      <ion-button (click)="toggleAddress()" fill="none">
        <ion-icon name="arrow-dropdown" slot="icon-only" class="initial" [ngClass]="showAddress?'rotate':''"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-card [ngClass]="showAddress?'slideInDown':'hidden'" class="full-width animated transition-props" lines="none">
      <!-- <ion-item>
        <ion-label position="floating">Name <ion-text color="danger" class="text-size">*</ion-text></ion-label>
        <ion-input [(ngModel)]="storeBundleDTO.storeAddress.name"></ion-input>
      </ion-item> -->
      <ion-item>
        <ion-label position="floating">Building name or number <ion-text color="danger" class="text-size">*</ion-text></ion-label>
        <ion-input (ionChange)="disableSave()" formControlName="houseNoOrBuildingName"></ion-input>
      </ion-item>
      <ion-text  class="err-size ion-margin-start" color="danger" *ngIf="storeForm.get('houseNoOrBuildingName').invalid && showError">Invalid Building name or number</ion-text>
      <ion-item>
        <ion-label position="floating">Area</ion-label>
        <ion-input [(ngModel)]="storeBundleDTO.storeAddress.roadNameAreaOrStreet" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">City <ion-text color="danger" class="text-size">*</ion-text></ion-label>
        <ion-input (ionChange)="disableSave()" formControlName="city"></ion-input>
      </ion-item>
      <ion-text  class="err-size ion-margin-start" color="danger" *ngIf="storeForm.get('city').invalid && showError">Invalid City</ion-text>
      <ion-item>
        <ion-label position="floating">County</ion-label>
        <ion-input [(ngModel)]="storeBundleDTO.storeAddress.landmark" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>
      <!-- <ion-item>
        <ion-label position="floating">State <ion-text color="danger" class="text-size">*</ion-text></ion-label>
        <ion-input (ionChange)="disableSave()" formControlName="state"></ion-input>
      </ion-item> -->
      <!-- <ion-text  class="err-size ion-margin-start" color="danger" *ngIf="storeForm.get('state').invalid && showError">Invalid State</ion-text> -->
      <ion-item>
        <ion-label position="floating">Eircode <ion-text color="danger" class="text-size">*</ion-text></ion-label>
        <ion-input (ionChange)="disableSave()" formControlName="zipcode"></ion-input>
      </ion-item>
      <ion-text  class="err-size ion-margin-start" color="danger" *ngIf="storeForm.get('zipcode').invalid && showError">Invalid Zip Code</ion-text>
    </ion-card>
    <!-- /address -->

    <ion-label position="stacked" class="ion-padding-start ion-margin-bottom">Cuisines</ion-label>
    <span class="ion-margin-bottom"><br></span>
    <span *ngFor="let cuisine of storeBundleDTO.storeType">
      <ion-badge color="dark" class="ion-margin-start ion-margin-top">
        <ion-text>
          {{cuisine.name}}
          <ion-text class="ion-padding-left pointer" color="danger" (click)="cuisineDeleteAlert(cuisine)">
            <strong>
              x
            </strong>
          </ion-text>
        </ion-text>
      </ion-badge>
    </span>
    <ion-badge color="dark" class="ion-margin-start pointer" (click)="addCuisine()">
      <ion-text>+</ion-text>
    </ion-badge>
    <ion-item>
      <ion-label position="floating">Minimum order amount</ion-label>
      <ion-input class="ion-margin-top" [(ngModel)]="storeBundleDTO.store.minAmount" [ngModelOptions]="{standalone: true}">&euro;</ion-input>
    </ion-item>
  </ion-card>
  <!-- /General -->

  <!-- Delivery info -->
  <ion-card class="ion-padding-top">
    <ion-label position="fixed" class="ion-padding-start">
      <ion-icon name="cube"></ion-icon>
      Delivery Info
    </ion-label>
    <ion-item class="ion-margin-bottom">
      <ion-label position="stacked" class="no-wrap">Estimated delivery time</ion-label>
      <ion-datetime [(ngModel)]="storeBundleDTO.store.maxDeliveryTime" [ngModelOptions]="{standalone: true}" displayFormat="mm"></ion-datetime>
    </ion-item>
    <ion-label position="stacked" class="ion-padding-start ion-margin-top">Delivery types <ion-text color="danger" class="text-size">*</ion-text></ion-label>
    <ion-item>
      <ion-checkbox [(ngModel)]="deliveryChecked" [ngModelOptions]="{standalone: true}"  class="ion-margin-end" (ionChange)="onChangeDeliveryInfo('delivery', $event)"></ion-checkbox>
      <ion-label>Delivery</ion-label>
    </ion-item>
    <ion-card *ngIf="deliveryChecked">
      <ion-item>
        <ion-label position="floating">Starting Time</ion-label>
        <ion-datetime displayFormat="h:mm a" [(ngModel)]="deliveryInfo.startingTime" [ngModelOptions]="{standalone: true}"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Ending Time</ion-label>
        <ion-datetime displayFormat="h:mm a" [(ngModel)]="deliveryInfo.endTime" [ngModelOptions]="{standalone: true}"></ion-datetime>
      </ion-item>
    </ion-card>
    <ion-item>
      <ion-checkbox [(ngModel)]="collectionChecked" [ngModelOptions]="{standalone: true}"  class="ion-margin-end" (ionChange)="onChangeDeliveryInfo('collection', $event)"></ion-checkbox>
      <ion-label>Collection</ion-label>
    </ion-item>
    <ion-card *ngIf="collectionChecked">
      <ion-item>
        <ion-label position="floating">Starting Time</ion-label>
        <ion-datetime displayFormat="h:mm a" [(ngModel)]="collectionInfo.startingTime" [ngModelOptions]="{standalone: true}"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Ending Time</ion-label>
        <ion-datetime displayFormat="h:mm a" [(ngModel)]="collectionInfo.endTime" [ngModelOptions]="{standalone: true}"></ion-datetime>
      </ion-item>
    </ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Delivery Charge</ion-label>
            <ion-input type="number" [(ngModel)]="storeBundleDTO.storeSettings.deliveryCharge" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Service Charge</ion-label>
            <ion-input type="number" [(ngModel)]="storeBundleDTO.storeSettings.serviceCharge" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</form>
  <!-- /Delivery info -->

  <ion-card class="ion-padding-top">
    <ion-label position="fixed" class="ion-padding-start">
      <ion-icon name="today"></ion-icon>
      Order Accept Type
    </ion-label>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-checkbox [(ngModel)]="orderIsAuto" (ionChange)="onChangeOrderAcceptType('auto', $event)"></ion-checkbox>
              <ion-label class="ion-padding-start">Automatic</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-checkbox [(ngModel)]="!orderIsAuto" (ionChange)="onChangeOrderAcceptType('manual', $event)"></ion-checkbox>
              <ion-label class="ion-padding-start">Manual</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <ion-card class="ion-padding-top">
      <ion-label position="fixed" class="ion-padding-start">
          <ion-icon name="cog"></ion-icon>
          Advanced
        </ion-label>
        <ion-item>
            <ion-label slot="start">Inventory Required</ion-label>
            <ion-toggle slot="end" ></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label slot="start">Pre-order Available</ion-label>
            <ion-toggle slot="end" ></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label slot="start">Active</ion-label>
            <ion-toggle slot="end" ></ion-toggle>
        </ion-item>
  </ion-card>
</ion-content>