.image-container {
    height: 35%;
}

.image {
    height: 35vh;
    width: 35vh;
    border-radius: 50%;
    border: 1px  ridge gray;
    box-shadow: 2px 2px 5px #888888
}

.svg {
    width: 35px;
    height: 35px;
}

.move-up {
    margin-top: -40px;
}

.hide-overflow {
    overflow: hidden;
}

.close-icon {
    font-size: 18px;
}

.no-wrap {
    white-space: normal;
}

ion-badge {
    display: inline-block;
}

.transition-props {
    animation-duration: 0s;
    animation-delay: 0s;
}

.rotate {
    transform: rotate(180deg);
}

.initial {
    transition-duration: 0.3s;
}

ion-content.map {
    --background: transparent;
}

ion-content #map {
    --background: transparent;
}