.image-container {
    height: 35%;
}

.image {
    height: 35vh;
    width: 35vh;
    border-radius: 50%;
    border: 1px  ridge gray;
    box-shadow: 2px 2px 5px #888888
}

.svg {
    width: 35px;
    height: 35px;
}

.move-up {
    margin-top: -40px;
}

.hide-overflow {
    overflow: hidden;
}

.close-icon {
    font-size: 18px;
}

.no-wrap {
    white-space: normal;
}

ion-badge {
    display: inline-block;
}