<ion-header>
  <ion-toolbar>
    <ion-title>Edit Restaurant</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="storeBundleDTO" class="ion-justify-content-center">
  <ion-card class="ion-padding-top">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="8" class="vertical-align-center hide-overflow">
          <ion-img class="image hide-overflow"
            [src]="'data:' + storeBundleDTO.store.imageContentType + ';base64,' + storeBundleDTO.store.image">
          </ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="vertical-align-center move-up">
          <ion-fab-button color="light" class="ion-margin-bottom" (click)="uploadImage()">
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>{{this.storeBundleDTO.store.info}}</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-label position="fixed" class="ion-padding-start">
      <ion-icon name="settings"></ion-icon>
      General
    </ion-label>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="storeBundleDTO.store.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="storeBundleDTO.store.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contact</ion-label>
      <ion-input [(ngModel)]="storeBundleDTO.store.contactNo"></ion-input>
    </ion-item>
    <ion-label position="stacked" class="ion-padding-start">Cuisines</ion-label>
    <span><br></span>
    <span *ngFor="let cuisine of storeBundleDTO.storeType">
      <ion-badge color="dark" class="ion-margin-start ion-margin-bottom">
        <ion-text>
          {{cuisine.name}}
          <ion-text class="ion-padding-left pointer" color="danger" (click)="removeCuisine(cuisine)">
            <strong>
              x
            </strong>
          </ion-text>
        </ion-text>
      </ion-badge>
    </span>
    <ion-badge color="dark" class="ion-margin-start pointer" (click)="addCuisine()">
      <ion-text>+</ion-text>
    </ion-badge>
    <ion-item>
      <ion-label position="floating">Minimum order amount</ion-label>
      <ion-input [(ngModel)]="storeBundleDTO.store.minAmount"></ion-input>
    </ion-item>
  </ion-card>
  <ion-card class="ion-padding-top">
    <ion-label position="fixed" class="ion-padding-start">
      <ion-icon name="cube"></ion-icon>
      Delivery Info
    </ion-label>
    <ion-item>
      <ion-label position="stacked" class="no-wrap">Max delivery time</ion-label>
      <ion-text>{{storeBundleDTO.store.maxDeliveryTime.slice(11,16)}}</ion-text>
    </ion-item>
    <ion-label position="stacked" class="ion-padding-start ion-padding-top">Delivery types</ion-label>
    <ion-item>
      <ion-checkbox class="ion-margin-end" (ionChange)="onChangeDeliveryInfo('delivery', $event)"></ion-checkbox>
      <ion-label>Delivery</ion-label>
    </ion-item>
    <ion-item *ngIf="deliveryInfo">
      <ion-label position="floating">Starting Time</ion-label>
      <ion-datetime displayFormat="h:mm a" [(ngModel)]="deliveryInfo.startingTime"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="deliveryInfo">
      <ion-label position="floating">Starting Time</ion-label>
      <ion-datetime displayFormat="h:mm a" [(ngModel)]="deliveryInfo.endTime"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-checkbox class="ion-margin-end" (ionChange)="onChangeDeliveryInfo('collection', $event)"></ion-checkbox>
      <ion-label>Collection</ion-label>
    </ion-item>
    <ion-item *ngIf="collectionInfo">
      <ion-label position="floating">Starting Time</ion-label>
      <ion-datetime displayFormat="h:mm a" [(ngModel)]="collectionInfo.startingTime"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="collectionInfo">
      <ion-label position="floating">Ending Time</ion-label>
      <ion-datetime displayFormat="h:mm a" [(ngModel)]="collectionInfo.endTime"></ion-datetime>
    </ion-item>
  </ion-card>
</ion-content>