<ion-header>
  <ion-toolbar>
      <ion-menu-button slot="start" auto-hide="true"></ion-menu-button>
    <ion-title>Order Summary</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="openNotificationModal()">
        <ion-icon class="icon" name="notifications"></ion-icon>
      </ion-button>
      <ion-badge *ngIf="notificationCount != 0" id="notifications-badge" color="danger">{{notificationCount}}</ion-badge>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="half-width">
    <ion-buttons>
      <ion-button>
          <ion-icon slot="icon-only" name="calendar"></ion-icon>
      </ion-button>
      <ion-button>
          <ion-datetime displayFormat="YYYY-MM-DD" min="2005" max="2030" [(ngModel)]="date"></ion-datetime>
      </ion-button>
      <ion-button (click)="dateSelected()">
          <ion-icon  color="success" slot="icon-only" name="arrow-round-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
      
  </ion-card>
  <ion-card>
      <ion-row padding>
          <ion-col padding>
            <ion-text color="primary"><Strong>Order Types</Strong></ion-text>
          </ion-col>
          <ion-col padding>
              <ion-text color="primary"><Strong>N.of Orders</Strong></ion-text>
            </ion-col>
            <ion-col padding>
                <ion-text color="primary"><Strong>Amount</Strong></ion-text>
              </ion-col>
        </ion-row>
    <ion-row padding>
      <ion-col padding>
        <ion-text><Strong>Total</Strong></ion-text>
      </ion-col>
      <ion-col padding>
          <ion-text><Strong>{{orderSummary.typeAllCount}}</Strong></ion-text>
      </ion-col>
      <ion-col padding>
          <ion-text><Strong> <ion-text>&euro;        </ion-text>{{orderSummary.typeAllTotal | number:'1.2-2'}}</Strong></ion-text>
      </ion-col>
    </ion-row>
    <ion-row padding>
        <ion-col padding>
          <ion-text><Strong>Collection</Strong></ion-text>
        </ion-col>
        <ion-col padding>
            <ion-text><Strong>{{orderSummary.typeCollectionCount}}</Strong></ion-text>
        </ion-col>
        <ion-col padding>
            <ion-text><Strong> <ion-text>&euro;        </ion-text>{{orderSummary.typeCollectionTotal | number:'1.2-2'}}</Strong></ion-text>
        </ion-col>
      </ion-row>
      <ion-row padding>
          <ion-col padding>
            <ion-text><strong>Delivery</strong></ion-text>
          </ion-col>
          <ion-col padding>
              <ion-text><Strong>{{orderSummary.typeDeliveryCount}}</Strong></ion-text>
          </ion-col>
          <ion-col padding>
              <ion-text><Strong> <ion-text>&euro;        </ion-text>{{orderSummary.typeDeliveryTotal | number:'1.2-2'}}</Strong></ion-text>
          </ion-col>
        </ion-row>
        
  </ion-card>
  <ion-card>
    <ion-row padding>
      <ion-col padding>
        <ion-text color="primary"><Strong>Payment Types</Strong></ion-text>
      </ion-col>
      <ion-col padding>
          <ion-text color="primary"><Strong>N.of Orders</Strong></ion-text>
        </ion-col>
        <ion-col padding>
            <ion-text color="primary"><Strong>Amount</Strong></ion-text>
          </ion-col>
    </ion-row>
    <ion-row padding>
      <ion-col padding>
        <ion-text><strong>Cash</strong></ion-text>
      </ion-col>
      <ion-col padding>
          <ion-text><Strong>{{orderSummary.typeCashCount}}</Strong></ion-text>
      </ion-col>
      <ion-col padding>
          <ion-text><Strong> <ion-text>&euro;        </ion-text>{{orderSummary.typeCashTotal | number:'1.2-2'}}</Strong></ion-text>
      </ion-col>
    </ion-row>
    <ion-row padding>
      <ion-col padding>
        <ion-text><strong>Card</strong></ion-text>
      </ion-col>
      <ion-col padding>
          <ion-text><Strong>{{orderSummary.typeCardCount}}</Strong></ion-text>
      </ion-col>
      <ion-col padding>
          <ion-text><Strong> <ion-text>&euro;        </ion-text>{{orderSummary.typeCardTotal | number:'1.2-2'}}</Strong></ion-text>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-card>
    <ion-item>
    <ion-button (click)="getOrderSummaryPdf()">
      Print Summary
    </ion-button>
    <!-- <ion-button slot="end">
        Detailed Orders
      </ion-button> -->
    </ion-item>
    </ion-card>
</ion-footer>