<ion-header>
  <ion-toolbar>
      <ion-menu-button slot="start" auto-hide="true"></ion-menu-button>
    <ion-title>sale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid  class="bg-grey">
        <ion-row justify-content-center class="ion-margin-top ">
          <ion-col size="12" text-center>
            <ion-label class="fntbig-cursive">
              Order total
            </ion-label>
            <ion-text class="fntbig-cursive" >(0 items)</ion-text>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col size="12" text-center>
            <p class="fntbig grey">&#8364;0</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid >
        <ion-row>
          <ion-col justify-content-center>
            <ion-card class="vertical-align-center h35">
              <ion-card-content text-center>
                <ion-icon class="cart" name="basket"></ion-icon>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
