<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" auto-hide="false"></ion-menu-button>
    <ion-title>Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let product of products"  size-lg="3" size-sm="6" size="6" size-md="4">
        <app-product-card [product]="product"></app-product-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button data-desc="Product" (click)= "presentModal()">
        <ion-icon name="logo-buffer"></ion-icon>
      </ion-fab-button>
      <ion-fab-button data-desc="Category" >
        <ion-icon name="filing"></ion-icon>
      </ion-fab-button>
      <ion-fab-button data-desc="UOM">
        <ion-icon name="speedometer"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>