<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" auto-hide="true"></ion-menu-button>
    <ion-title *ngIf="showSearchbar==false">Product</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleSearchbar()" *ngIf="showSearchbar==false">
        <ion-icon  name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="openNotificationModal()" >
        <ion-icon class="icon" name="notifications"></ion-icon>
      </ion-button>
      <ion-badge *ngIf="notificationCount != 0" id="notifications-badge" color="danger">{{notificationCount}}</ion-badge>
    </ion-buttons>
    <ion-searchbar  animated (ionChange)="searchProducts(0)" (ionCancel)="toggleSearchbar()" showCancelButton="always" placeholder="find products..." debounce="500" *ngIf="showSearchbar==true"[(ngModel)]="searchTerm"></ion-searchbar>
   
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button>
            <ion-icon name="funnel"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="end">
          <ion-buttons>
            <ion-button class="button-border" (click)="getAll()">All
            </ion-button>
            <ion-button class="button-border" (click)="getAuxilaries()">Extras
            </ion-button>
          </ion-buttons>
          </ion-fab-list>
      </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let product of products" size-lg="3" size-sm="4" size="6" size-md="3">
        <app-product-card [product]="product" (update)="updateProduct($event)" (delete)="deleteProduct(product)">
        </app-product-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!--Infinite Scroll-->
  <ion-infinite-scroll threshold="600px" (infiniteScroll)="loadMoreProducts($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!--Refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>
<app-add (productAdd)="onAddProduct($event)"></app-add>