<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" auto-hide="true"></ion-menu-button>
    <ion-title>Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let product of products"  size-lg="3" size-sm="4" size="6" size-md="3">
        <app-product-card [product]="product" (update)="updateProduct($event)" (delete)="deleteProduct(product)"></app-product-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-add  (productAdd)="onAddProduct($event)"></app-add>
</ion-content>