

#notifications-badge {
    background-color: red;
    position: absolute;
    top: -2px;
    right: 10px;
    border-radius: 100%;
}
.icon{
    font-size: 30px;
}
.button-border{
    border: 1px solid #216888;
    border-radius: 12px;
  }