<ion-content>
<div *ngIf="title=='pending'">
  <ion-list class="order-card-view" justify-content-center *ngFor="let okey of pendingOrdersSortedKeys">
  <ion-list-header color="secondary">
    <ion-label>{{okey | titlecase}}</ion-label>
  </ion-list-header>
  <div class="mg-top">
      <ion-label *ngIf="pendingOrdersSorted[okey].length === 0">No Orders</ion-label>
  </div>
  <app-order-card *ngFor="let order  of pendingOrdersSorted[okey]"  class="vertical-align-center" [orderType]='"pending"' (accept)="orderAccepted(order , okey)"  [order]="order"></app-order-card>
  </ion-list>
  </div>

  <div *ngIf="title == 'confirmed'"> 
    <ion-list justify-content-center *ngFor="let okey of confirmedOrdersSortedKeys">
      <ion-list-header color="secondary">
        <ion-label>
          <b>{{okey | titlecase}}</b>
        </ion-label>
      </ion-list-header>    
      <div class="mg-top">
          <ion-label *ngIf="confirmedOrdersSorted[okey].length === 0">No Orders</ion-label>
      </div>
      <app-order-card *ngFor="let order  of confirmedOrdersSorted[okey]" class="vertical-align-center" [orderType]='"confirmed"' (completed)="orderCompleted(order , okey)" [order]="order"></app-order-card>
    </ion-list>
  </div>

  <div *ngIf="title == 'completed'">
    <ion-list justify-content-center *ngFor="let okey of completedOrdersSortedKeys">
      <ion-list-header color="secondary">
        <ion-label>
          <b>{{okey | titlecase}}</b>
        </ion-label>
      </ion-list-header>    
      <div class="mg-top">
          <ion-label *ngIf="completedOrdersSorted[okey].length === 0">No Orders</ion-label>
      </div>
      <app-order-card *ngFor="let order  of completedOrdersSorted[okey]" [orderType]='"completed"' class="vertical-align-center"  [order]="order"></app-order-card>
    </ion-list> 
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore()">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  </ion-content>
