<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" auto-hide="true"></ion-menu-button>
    <ion-title>Category</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openNotificationModal()">
        <ion-icon class="icon" name="notifications"></ion-icon>
      </ion-button>
      <ion-badge *ngIf="notificationCount != 0" id="notifications-badge" color="danger">{{notificationCount}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let category of categories"  size-lg="3" size-sm="4" size="6" size-md="3">
        <app-category-card [category]="category" (delete)="deleteCategory(category)" (update) = "updateCategory($event)"></app-category-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-add (categoryAdd)="onAddCategory($event)"></app-add>

  <!--Infinite Scroll-->
  <ion-infinite-scroll threshold="600px" (ionInfinite)="loadMoreCategories($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!--Refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>
