<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-title>Sale History</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let sale of sales; let t of saleDetails">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
            <ion-text>{{sale.customer.name}}</ion-text>
            <ion-text slot="end">{{sale.sale.date | date:"short"}}</ion-text>
            <ion-text slot="end">&euro;{{sale.sale.grandTotal}}</ion-text>
            <ion-icon slot="end" name="arrow-dropright"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
                <ion-item *ngFor="let ticket of sale.ticketLines">
                    <ion-grid class="ion-no-padding">
                      <ion-row class="ion-no-padding">
                        <ion-col size ="7" class="ion-margin-top ion-margin-bottom">
                    <ion-text>{{ticket.productName}}</ion-text>
                  </ion-col>
                  <ion-col size ="3" class="ion-margin-top ion-margin-bottom">
                    <ion-text>
                      {{ticket.quantity}}  x  &#8364;{{ticket.price | number: "1.1-2"}}
                    </ion-text>
                  </ion-col>
                  <ion-col size ="2" class="ion-margin-top ion-margin-bottom">
                    <ion-text >
                       &#8364;{{ticket.total | number: "1.1-2" }}
                    </ion-text>
                  </ion-col>
                    </ion-row>
                    </ion-grid>
                  </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
