
  <ion-card  class="order-card-view">
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-text>#{{order.orderId}}</ion-text>
        </ion-col>
        <ion-col>
        <ion-text>C#{{order.customerId}}</ion-text>
      </ion-col>
        <ion-col>
          <ion-label>Order time</ion-label>
          <ion-text color="danger">{{order.deliveryInfo.startingTime}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-text color="primary">{{order.paymentRef}}</ion-text>
        </ion-col>
        <ion-col>
            <ion-icon name="pin"></ion-icon>
            <ion-text>{{order.deliveryInfo.deliveryAddress.addressLine1}}</ion-text>
        </ion-col>
        <ion-col>
          <ion-button color="success">Accept</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-item>
</ion-card>
