ion-card {
    width: 100%;
}

.blue {
    background: #d7e0e494;
    color: black;
}


.flex-end {
    display: flex;
    justify-content: flex-end;
}

.center {
    display: flex;
    align-items: center;
}

.icon-big {
    font-size: 30px;
    margin-right: 10px;
}