ion-card {
    width: 100%;
}

.blue {
    background: #d7e0e494;
    color: black;
}


.flex-end {
    display: flex;
    justify-content: flex-end;
}

.center {
    display: flex;
    align-items: center;
}

.icon-big {
    font-size: 30px;
    margin-right: 10px;
}

.cus-name-size {
    font-size: 15px;
}

.del {
    font-size: 15px;
    color: lightslategrey;
}

.expect{
    border: 2px solid lightslategrey;
    border-radius: 12px;
}

.time-margin {
    margin-left: 5px;
}

.btn-b {
    border-radius: 12px;
}

.margin {
    margin: -10px;
}

.call-font {
    font-size: 22px;
}