<ion-card *ngIf="order != null"  class="ion-no-padding">
  <ion-item>
    <ion-grid>
      <ion-row class="ion-padding-top">
        <ion-col class="ion-no-padding" size="7">
          <ion-row>          
            <ion-text>ID:  <strong>{{order.orderNumber}}</strong></ion-text>
          </ion-row>
          <ion-row>
            <ion-text class="cus-name-size" *ngIf="order.loyaltyPoint == 1" color="primary">{{order.customerName}}'s {{order.loyaltyPoint}}st order</ion-text>
            <ion-text *ngIf="order.loyaltyPoint == 2" color="primary">{{order.customerName}}'s {{order.loyaltyPoint}}nd order</ion-text>
            <ion-text *ngIf="order.loyaltyPoint == 3" color="primary">{{order.customerName}}'s {{order.loyaltyPoint}}rd order</ion-text>
            <ion-text *ngIf="order.loyaltyPoint > 3" color="primary">{{order.customerName}}'s {{order.loyaltyPoint}}th order</ion-text>
          </ion-row>
          <ion-row class="ion-padding-top">
            <ion-text>{{order.houseNoOrBuildingName + ', ' + order.city}}</ion-text>
          </ion-row>
        </ion-col>
        <ion-col class="ion-no-padding">
        <ion-item class="ion-no-padding ion-no-margin margin" lines="none">
          <ion-badge slot="end" color="dark">{{order.methodOfOrder}}</ion-badge>
        </ion-item>
        <ion-item class="ion-no-padding ion-no-margin margin" lines="none">
          <ion-icon *ngIf="order.paymentStatus != 'ORDER NOT PAID'" class="" name="card"></ion-icon>
          <ion-icon *ngIf="order.paymentStatus == 'ORDER NOT PAID'" name="wallet"></ion-icon>
          <ion-text class="ion-no-padding ion-no-margin" class="time-margin">{{order.paymentStatus}}</ion-text> 
        </ion-item>
        <ion-item class="ion-no-padding ion-no-margin margin" lines="none">
          <ion-icon name="time"></ion-icon>
          <ion-text class="time-margin" color="danger">
            {{order.orderPlaceAt | date: 'shortTime'}}
          </ion-text>
        </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="order.preOrderDate && orderType!='completed'" class="ion-margin-top ion-justify-content-center">
        <ion-text><strong>Requested for {{order.preOrderDate | date : 'd/M/yy,hh:mm a'}}</strong></ion-text>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item *ngIf="orderType == 'pending'" lines = "none">
    <ion-grid>
      <ion-row class="ion-padding-bottom">
        <ion-col>
          <ion-text class="del" >Expected delivery time</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-buttons class="expect">
          <ion-button (click)="alterTime(1)" slot="start">
            <ion-icon name="remove"></ion-icon>
          </ion-button>
          <ion-input [(ngModel)]="expecteddeliveryTime" text-center type="number"></ion-input>
          <ion-button (click)="alterTime(0)" slot="end">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
      <ion-button slot="start" fill="none" class="ion-no-padding" (click)="viewOrderViewModal()"><ion-icon slot="icon-only" name="information-circle-outline"></ion-icon></ion-button>
      <ion-button *ngIf="orderType!='completed' && order.loyaltyPoint == 1" slot="start" fill="none" class="ion-no-padding">
        <a href=tel:{{order.phone}}><ion-icon class="call-font" color="primary" slot="icon-only" name="call"></ion-icon></a>
      </ion-button>
      <ion-button *ngIf="orderType=='confirmed'" slot="start" fill="none" class="ion-no-padding" (click)="getDocketData()"><ion-icon slot="icon-only" name="print"></ion-icon></ion-button>
    <ion-button *ngIf="orderType=='pending'" class="btn-b" slot="end" color="success" (click)="acceptOrder()">ACCEPT ORDER</ion-button>
    <ion-button *ngIf="orderType=='confirmed'" class="btn-b" slot="end" color="success" (click)="completeOrder()">MARK AS DELIVERED</ion-button>
  </ion-item>
</ion-card>