<ion-header>
  <ion-toolbar>
    <ion-title>Edit Banner</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
    <ion-button slot="end" (click)="viewAddBannerModal()"><ion-icon name="add"></ion-icon></ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div *ngFor="let banner of banners">
<ion-card>
    <div class="close">
        <ion-icon (click)="deleteBanner(banner)" class="icon-size" name="close"></ion-icon>
    </div>
  <ion-img [src]=banner.imageLink>
      
  </ion-img>
</ion-card>
</div>
</ion-content>
