<ion-header>
  <ion-toolbar>
      <ion-menu-button slot="start" auto-hide="true"></ion-menu-button>
    <ion-title>Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Segment Button Container Start-->
  <div *ngIf="orders.length !== 0">
      <ion-segment (ionChange)="segmentChange($event)" [value]="currentPage" color="secondary">
        <ion-segment-button value="delivery">
          <ion-label>Delivery</ion-label>
        </ion-segment-button>
        <ion-segment-button value="collections">
          <ion-label>Collections</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <!--Segment Button Container End-->
    <ion-slides  #slides (ionSlideDidChange)="slideChange()">
        <ion-slide>
          <ion-list>
        <div *ngFor="let order  of orders" >
          <app-order-card [order]="order"></app-order-card>
        </div>
      </ion-list>
        </ion-slide>
        <ion-slide>

        </ion-slide>
        </ion-slides>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreOrders($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
      
  </ion-content>
  