<ion-header>
  <ion-toolbar>
      <ion-menu-button *ngIf="showSearch == false" slot="start" auto-hide="true"></ion-menu-button>
        
        <ion-buttons>
          <ion-button (click)="toggleSearch()" *ngIf="showSearch == true" ><ion-icon slot="icon-only" name="close"></ion-icon></ion-button>
        <ion-title *ngIf="showSearch==false">Order</ion-title>
        <ion-searchbar *ngIf="showSearch == true"  [(ngModel)] ="searchTerm" (ionChange)="getSearchedOrder()"></ion-searchbar>
        </ion-buttons>
        <ion-item *ngIf="showSearch == false" slot="end">
          <ion-button fill="none"><ion-icon slot="icon-only" name="funnel"></ion-icon></ion-button>
          <ion-select class="ion-no-padding ion-no-margin" okText="Okay" (ionChange)="filter($event)" cancelText="Dismiss">
            <ion-select-option value="all">All</ion-select-option>
            <ion-select-option value="delivery">Delivery</ion-select-option>
            <ion-select-option value="collection">Collection</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-buttons slot="end">
          <!-- Sunmi Printer Test -->
          <!-- <ion-button (click)="print()">
            <ion-icon slot="icon-only" name="print" ></ion-icon>
          </ion-button> -->
          <!-- <ion-button slot="end" fill="none"(click)="refresh()"><ion-icon slot="icon-only" name="refresh"></ion-icon></ion-button> -->
          <ion-button (click)="toggleSearch()" *ngIf="showSearch==false">
            <ion-icon slot="icon-only"  name="search"></ion-icon>
          </ion-button>
          <ion-button *ngIf="showSearch == false" (click)="openNotificationModal()">
            <ion-icon class="icon" name="notifications"></ion-icon>
          </ion-button>
          <ion-badge  *ngIf="showSearch == false && notificationCount != 0" id="notifications-badge" color="danger">{{notificationCount}}</ion-badge >
        </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ng-container *ngIf="!showSearch">
    <div>
      <ion-segment (ionChange)="segmentChange($event)" [value]="currentPage" color="secondary">
        <ion-segment-button value="pending">
          <ion-label>Pending</ion-label>
        </ion-segment-button>
        <ion-segment-button value="confirmed">
          <ion-label>Confirmed</ion-label>
        </ion-segment-button>
        <ion-segment-button value="completed">
          <ion-label>Completed</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <ion-slides #slides [options]="slideOptions" (ionSlideDidChange)="slideChange()">

        <ion-slide *ngIf="showPending">
         <div class="slideContent">
          <ion-list class="order-card-view" justify-content-center *ngFor="let okey of pendingOrdersSortedKeys">
            <ion-list-header color="secondary">
              <ion-label>{{okey | titlecase}}</ion-label>
            </ion-list-header>
            <div class="mg-top">
                <ion-label *ngIf="pendingOrdersSorted[okey].length === 0">No Orders</ion-label>
            </div>
            <ng-container *ngFor="let order  of pendingOrdersSorted[okey]; let i = index">
              <app-order-card *ngIf="i%2===0" [color]="'secondary'" class="vertical-align-center" [orderType]='"pending"' (accept)="orderAccepted(order , okey)"  [order]="order"></app-order-card>
              <app-order-card *ngIf="i%2!==0" [color]="'white'" class="vertical-align-center" [orderType]='"pending"' (accept)="orderAccepted(order , okey)"  [order]="order"></app-order-card>
            </ng-container>
          </ion-list>
         </div>
        </ion-slide>
        <ion-slide>
          <div class="slideContent">
              <ion-list justify-content-center *ngFor="let okey of confirmedOrdersSortedKeys">
                  <ion-list-header color="secondary">
                    <ion-label>
                      <b>{{okey | titlecase}}</b>
                    </ion-label>const
                  </ion-list-header>    
                  <div class="mg-top">
                      <ion-label *ngIf="confirmedOrdersSorted[okey].length === 0">No Orders</ion-label>
                  </div>
                  <app-order-card *ngFor="let order  of confirmedOrdersSorted[okey]" class="vertical-align-center" [orderType]='"confirmed"' (completed)="orderCompleted(order , okey)" [order]="order"></app-order-card>
                </ion-list>      
          </div>
        </ion-slide>
 
        <ion-slide>
          <div class="slideContent">
            <ion-list justify-content-center *ngFor="let okey of completedOrdersSortedKeys">
                <ion-list-header color="secondary">
                  <ion-label>
                    <b>{{okey | titlecase}}</b>
                  </ion-label>const
                </ion-list-header>    
                <div class="mg-top">
                    <ion-label *ngIf="completedOrdersSorted[okey].length === 0">No Orders</ion-label>
                </div>
                <app-order-card *ngFor="let order  of completedOrdersSorted[okey]" [orderType]='"completed"' class="vertical-align-center"  [order]="order"></app-order-card>
              </ion-list>      
        </div>
        </ion-slide>
        
        </ion-slides>
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore()">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
          <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
          </ion-refresher-content>
        </ion-refresher>
  </ng-container>
  <ng-container *ngIf="showSearch && searchedOrder  ">
    <app-order-card *ngIf="searchedOrder.orderStatus == 'payment-processed-unapproved'" class="vertical-align-center" [orderType]='"pending"' (accept)="orderAccepted(searchedOrder , searchedOrderDate)" [order]="searchedOrder"></app-order-card>
    <app-order-card *ngIf="searchedOrder.orderStatus == 'payment-processed-approved'" class="vertical-align-center" [orderType]='"confirmed"' (completed)="orderCompleted(searchedOrder , searchedOrderDate)" [order]="searchedOrder"></app-order-card>
    <app-order-card *ngIf="searchedOrder.orderStatus == 'delivered'" class="vertical-align-center" [orderType]='"completed"' [order]="searchedOrder"></app-order-card>
    </ng-container>
  </ion-content>