.column{
    width: 35px;
    height: 150px;
    
    margin: 3px;
    
}
p{
    bottom: 10px;
}
ion-title{
    font-weight: bold;
}
ion-icon{
    width: 50px !important;
    height: 50px !important;
}