<ion-header>
  <ion-toolbar>
      <ion-menu-button slot="start" auto-hide="true"></ion-menu-button>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <ion-card>
          <ion-card-header>
            Stock Level
          </ion-card-header>
          <ion-card-content>
            <canvas #barCanvas></canvas>
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            Sale Per Product
          </ion-card-header>
          <ion-card-content>
            <canvas #doughnutCanvas></canvas>
          </ion-card-content>
        </ion-card>
     
        <ion-card>
          <ion-card-header>
            Sales Ratio
          </ion-card-header>
          <ion-card-content>
            <canvas #lineCanvas></canvas>
          </ion-card-content>
        </ion-card>
      </div>
</ion-content>
